@{
    Layout = null;
}

<!DOCTYPE htlml>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" /> 
        <title>Party!</title>
    </head>
    <body>
        <div class="text-center m-2">
           <h2> DATA ENTRY APPLICATION FOR VERTEX TRIAL STUDY</h2>
           <h4>Sign Up!</h4>
          <a class="btn btn-primary" asp-action="RsvpForm">Entry Form</a>
       </div>
           
    </body>

</html>

